.git/
.pytest_cache/
.mypy_cache/
__pycache__/
.scannerwork/
.vscode/
tests/
.gitignore
.isort.cfg
docker-compose.yml
Dockerfile
Jenkinsfile
pytest.xml
cov.xml
sonar-project.properties
setup.cfg
prefix.txt
graphs.txt
HISTORY.rst
dist/
prefixcc/
conf/
